annotated-types==0.7.0
anyio==4.4.0
fastapi==0.112.1 
fiona>=1.8.0
geopandas==0.14.3
numpy==1.26.4
pandas>=1.0.0
pydantic==2.8.2
pyproj>=2.2.0
python-dotenv==1.0.1
requests==2.31.0
shapely>=2.0.0
uvicorn==0.27.1